{% extends 'main/layout.html' %}

{% load static %}

{% block title %}
    {{ film.name }}
{% endblock %}

{% block main %}
    <div class="main__container">
        <div class="film__container">
        	<div class="film__card clear-fix">
                <div class="film_img" style="background-image: url({{ film.image.url }})"></div>
            </div>
            <div class="film__info">
            	{{ film.name }}<br>
            	{{ film.director }}<br>
                {{ film.country }}<br>
            	{{ film.text }}
                {{ film.by_subscription }}
            </div>
            <button>Оформить подписку на 30 дней</button>
        </div>
    </div>
{% endblock %}