body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    line-height: 1;
    font-family: 'Montserrat';
}

.wrapper {
    overflow: hidden;
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.header {
    position: fixed;
    height: 72px;
    width: 100%;
    background-color: #2B2B2B;
}

.header__container {
    display: flex;
}

.menu {
    list-style: none;
}

.menu_link {
    color: #fff;
    text-decoration: none;
}

.main {
    flex: 1 1 auto;
    margin-top: 72px;
    background-color: #E9E9E9;
}

.main__container {
    display: flex;
    margin: 0px 320px;
    width: 1280px;
    background-color: #fff;
}

.film__card {
    box-sizing: border-box;
}

.clear-fix::after {
	content: '';
	display: block;
	clear: both;
}

.film_img {
    display: block;
    height: 200px;
    width: 100px;
    box-sizing: border-box;
    /* background-color: #000; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer {
    height: 72px;
    width: 100%;
    background-color: #2B2B2B;
}